# folders
out/
figures/
out*/
obs/
forcing/
OstrichRaven_org/
.vscode/

# slurm files
slurm-*.out

# files
*/core.*

# Raven files
*Raven
*Raven.exe

# Ostrich files
*Ostrich
*ostrichGCC

# ostIn.txt
*ostIn.txt